.button
{
    -fx-background-color: #006DA4;
    -fx-background-radius: 20;
}

.button:hover
{
    -fx-background-color: #004D74;
}

.button:pressed
{
    -fx-background-color: #006494;
}

.button:focused
{
    -fx-background-color: #b7deea;
}

.text-field
{
    -fx-background-color: #b3caff;
}

.text-field:focused
{
    -fx-background-color: #b7deea;
}

.text-field:hover
{
    -fx-background-color: #85b0ff;
}

.combo-box
{
    -fx-background-color: #b3caff;
}

.combo-box:focused
{
    -fx-background-color: #b7deea;
}

.combo-box:hover
{
    -fx-background-color: #85b0ff;
}

.date-picker
{
    -fx-background-color: #b3caff;
}

.time-picker
{
    -fx-background-color: #b3caff;
}

.date-picker:focused
{
    -fx-background-color: #b7deea;
}

.time-picker:focused
{
    -fx-background-color: #b7deea;
}

.date-picker:hover
{
    -fx-background-color: #85b0ff;
}

.time-picker:hover
{
    -fx-background-color: #85b0ff;
}



